<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prion.DataAcquisition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    
    <!--Entity Connection-->

    <!--Servidor Westcon Brasil - wdcdevsql-->
    <add name="ImportRenewals" connectionString="Data Source=wdcdevsql;Initial Catalog=ImportRenewals;User Id=rmacedo;Password=wst.123;" providerName="System.Data.SqlClient" />

    <!--Fim de Entity Connection-->


    <!--Excel Connections-->
    <add name="Excel03ConString"
       connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};&#xD;&#xA;                         Extended Properties='Excel 8.0;HDR={1};IMEX={2}'"
                                                                          />
    <add name="Excel07ConString"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};&#xD;&#xA;                         Extended Properties='Excel 8.0;HDR={1};IMEX={2}'"
                                                                          />

  </connectionStrings>


  <appSettings>
    <add key="TempPath" value="D:\temp\" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="600" />
    <customErrors mode="Off" />
  </system.web>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>