/*fonts*/
@font-face {
    font-family: gotham;
    src: url('../fonts/gotham-medium.woff'), url('../fonts/gotham-medium.ttf'), url('../fonts/gotham-medium.eot');
}
@font-face {
    font-family: gotham-book;
    src: url('../fonts/gotham-book.woff'), url('../fonts/gotham-book.ttf'), url('../fonts/gotham-book.eot');
}
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.lead{
    font-family: gotham-book;
    font-size: 2em
        
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: gotham;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
 width: 700px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .modal-dialog {
      width: 100vw;
      height: 100vh;
      padding: 0;
      margin: 0 auto;
      
    
    }
}


.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}




/*modal*/

.modal{
    padding: 0px!important;
    margin: 0px auto!important;
    width: 100vw;
    height: 100vh;
    
}


.modal-content {
    position: relative;
    background-color: #e9e9e9;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    text-shadow: none;
    color:#333;
    height: 100%;
}

.modal-content .btn-primary{
     border-radius: 0px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #333;
}

.modal-content input{
    border-radius: 0px;
    height: 50px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    font-family: gotham-book;

}
.close {
    margin-right: 20px;
    margin-left : -20px;
    margin-top: 0px;
    font-weight: 100;
    font-size: 60px;
    opacity: 0.5;
}
.modal-title {
    font-size: 2em;
    font-weight: 600;
    color: #333;
    margin: 0;
}
.modal-subtitle{
    font-size: 1.3em;
    color: #333;
    margin: 0;
    text-align: center;
}
.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.linhas_do_arquivo{
    border: 2px solid #e2e2e2;
}
.linhas_do_arquivo .table{
    
    background-color: #fff;
    border: 2px solid #e9e9e9;
}
.linhas_do_arquivo tr td{
    text-align: left;
    white-space: nowrap;
}


/*alerts*/

.modal .oaerror{
    left: 20px;
    width: 100%
}

.oaerror {
  
  margin: 0 auto; /* Centering Stuff */
  background-color: #FFFFFF; /* Default background */
  padding: 15px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 0px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: left;
    
 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.site-wrapper-inner .oaerror {
    position: relative;
    margin-top: 20px;
    width: 100%;
}


.danger {
  border-color: #d9534f; /* Left side border color */
  background-color: rgba(217, 83, 79, 0.8); /* Same color as the left border with reduced alpha to 0.1 */

}


.danger strong {
  color:  #fff;
}

.warning {
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
  color: #f0ad4e;
}

.info {
  border-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.5);
}

.info strong {
  color: #333;
}

.success {
  border-left-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
  color: #2b542c;
}




.in{
    position: absolute;
    left: 0px;
}

.out{
    position: absolute;
    left: -10000px;
}


.modal .modal-loading {
    background-color: rgba(0,0,0,.9);
    position: relative;
}

.loading h4{
    position: absolute;
    top: 60%;
    left: 45%;
    color:  #e9e9e9;
    text-shadow: 2px 2px #000;
    animation: loading 1s ease-out;
    animation-iteration-count: infinite;
}


.signal {
    z-index: 99999;
    border: 5px solid #fff;
    border-radius: 50px;
    height: 100px;
    left: 45%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 40%;
    width: 100px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}
@keyframes loading {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
}